*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    width: 80vw;
    max-width: 350px;
    height: 500px;
    background-color: #1b2526;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgb(88, 88, 206),-1px -5px 20px rgb(69, 69, 205);
}
.display{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.display input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),-1px -2px 20px rgba(0,0,0,0.8);
    background-color: transparent;
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align: right;
    font-size: 40px;
}
.buttons{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.row{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.row button{
    width: 18%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),-1px -2px 20px rgba(0,0,0,0.8);
    background-color: transparent;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 22px;
}
.row1 button{
    color: rgb(41, 143, 89);
}
.row button:hover{
    box-shadow: inset 1px 2px 10px rgba(0,0,0,0.8);
    font-size: small
}
#equal{
    width: 40%;
    color: aquamarine;
}