*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.clock{
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: rgb(32,39,45);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px rgba(65, 184, 148, 0.8),-1px -2px 10px rgba(27, 113, 76, 0.8);
}
.num {
    position: absolute;
    color: rgb(243, 240, 246);
    inset: 25px;
    text-align: center;
    transform: rotate(calc(30deg*var(--v)));
}
.num b {
    transform: rotate(calc(-30deg*var(--v)));
    display: inline-block;
    font-size: 20px;
}
.dot{
    position: absolute;
    width: 4%;
    height: 4%;
    background: rgb(32,39,45);
    border-radius: 50%;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),-1px -2px 10px rgba(0,0,0,0.8);
    z-index: 9;
}
.digi-clock{
    position: absolute;
    width: 30%;
    height: 10%;
    background-color: rgb(32,39,45);
    bottom: 30%;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8),-1px -2px 10px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-size: 22px;
}
.dh{
    color: rgb(61, 160, 111);
}
.dm{
    color: rgb(121, 160, 72);
}
.ds{
    color: rgb(105, 143, 183);
}
.hour-hand,.min-hand,.sec-hand{
    position: absolute;
    background: #000;
    border-radius: 20px;
    transform-origin: bottom;
}
.hour-hand{
    width: 1%;
    height: 30%;
    top: 20.5%;
    background-color: rgb(61, 160, 111);
}
.min-hand{
    width: 1%;
    height: 35%;
    top: 15.5%;
    background-color: rgb(121, 160, 72);
}
.sec-hand{
    width: 0.5%;
    height: 40%;
    top: 10.5%;
    background-color: rgb(105, 143, 183);
}
@media (max-width:760px) {
    .clock{
        width: 80vw;
        height: 80vw;
    }
    .num b{
        font-size: 6vw;
    }
    .digi-clock{
        font-size: 2vw;
    }
}